form#ai-imagegenerate {
  display: flex;
}


fieldset#edit-api-settings-left {
  width: 300px;
  background-color: aliceblue;
   margin: 0 10px 10px 10px;
   max-width:100%
}

/*======right side ====*/

fieldset#edit-api-settings-right {
  width: 70%;
  background-color: aliceblue;
  margin: 0 10px 10px 10px;
  max-width:100%
}
.hide-this{
  display: none;
}
.open-ai-image-form span.fieldset__label {
  background-color: lightslategrey;
  margin-bottom: 20px;
   font-size: medium;
  color: black;
  line-height: 1.1;
}

.aibox label.form-item__label.option {
  font-weight: bold;
}

.btn-aibutton {
  background-color: #adaeb3;
  border: none;
  color: black;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 5px;
  cursor: pointer;
}
#AI-imageview {
  display: flex;
  flex-wrap: wrap;
}
.AIImageview {
  margin:20px;
}
h4.ai-errormsg {
  color: #ff0000;
}

#drupal-off-canvas-wrapper {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  margin-top: 137px;
  overflow-x: hidden;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar
{ margin-top: 40px;
  padding-left: 25px !important;
}
#drupal-off-canvas-wrapper .ui-dialog-titlebar::before
{display: none !important;}
#drupal-off-canvas-wrapper .ui-dialog-titlebar-close {
  background-color: #939ba4;
  width: 2.875rem;
  height: 2.875rem;
  border: 4px solid;
  right:26px;
  border-radius: 100px;
}

#drupal-off-canvas-wrapper .dalle-pricing-table thead tr th{
  background-color: #f2f2f2;
  text-align: center;
}
#drupal-off-canvas-wrapper .dalle-pricing-table tbody tr td{
  background-color: #ffffff;
  border: 1px solid #333;
  text-align: center;
  padding: 3px;
  width: 100px;
}
#drupal-off-canvas-wrapper table.dalle-pricing-table  tr th{
  border: 1px solid #141414;
  border-collapse: collapse;
  padding: 13px;
  width: 100px;
}
#drupal-off-canvas-wrapper .dalle-pricing-table tr th, td
{
  border: 1px solid black;
}
#drupal-off-canvas-wrapper td:first-child
{display: table-cell;}
#drupal-off-canvas-wrapper #drupal-off-canvas table {
  width: 100%;
  margin: 20px auto 20px;
  border-collapse: collapse;
}
table#openai-dalle-pricing {
  overflow: auto;
}
.customai-btn {
  width: 100%;
  padding: 10px;
}